@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: 'Noto Sans', sans-serif !important;
}

/**/
:root {
    --ed-color: rgb(48, 48, 48);
    --ed-item-height: 34px;
    --ed-item-primary: rgb(41, 94, 209);
    --ed-item-border-radius: 10px;
    --border-color: rgb(235, 235, 235);
    --text-color: #151515;
    --text-unselect: #616161;
}

.text_primary {
    color: var(--ed-item-primary) !important;
}

.text_unselect {
    color: var(--text-unselect) !important;
}


.editor_btn {
    width: 20px !important;
    height: 20px !important;
    font-size: 20px;
}

.editor_item_title {
    font-weight: 600;
    color: var(--ed-color);
    display: flex;
    height: 48px;
    padding-left: 20px;
    border-bottom: 1px solid lightgrey;
    align-items: center;
}

.subBt {
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
}

.editor_item .subBt:hover {
    background: #c8c8c8;
    border-radius: 5px;
}

.hoverBtn:hover {
    background: #e6e6e6;
    border-radius: 5px;
}

.hoverBtn {
    cursor: pointer;
}

.activeBtn {
    background: #f1f1f1;
    color: var(--ed-item-primary);
}

.editor_item:hover {
    background: #e0e0e0;
    border-radius: var(--ed-item-border-radius);
}

.editor_item.active {
    background: #e0e0e0;
}

.editor_item.primary {
    color: var(--ed-item-primary);
}

.select_container {
    border-radius: 10px;
    border: 2px dashed var(--ed-item-primary);
    margin: 2px;
}

.editor_item {
    width: calc(100% - 10px);
    margin: 5px 10px;
    cursor: pointer;
    height: var(--ed-item-height);
    border-top-left-radius: var(--ed-item-border-radius);
    border-bottom-left-radius: var(--ed-item-border-radius);
    display: flex;
    align-items: center;
    padding-left: 20px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    color: var(--ed-color);
    text-rendering: optimizelegibility;
    -webkit-user-select: none; /* Chrome, Safari, Opera */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Standard syntax */
}

.add_item_search_bar {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 1px solid var(--border-color);
}

.add_item_search_bar input {
    font-size: 14px;
    margin-left: 10px;
    border: none;
    background: transparent none;
    outline: none;
}

.add_item_button {
    flex: 1;
    height: 48px;
    display: flex;
    font-weight: 500;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: var(--text-unselect);
}

.editor_item .active {
    color: var(--ed-item-primary);
    background: #e0e0e0;
}

.add_item_button:hover {
    background: #e0e0e0;
}

.add_item_button_active {
    color: var(--ed-item-primary);
    border-bottom: 2px solid var(--ed-item-primary);
}


.btn-primary-c {
    color: #fff;
    background-color: #295ed1;
    /*border-color: #295ed1;*/
}

.btn-primary-c:hover {
    color: #fff;
    background-color: #214ba7;
    /*border-color: #5b63c4;*/
}

.fs-base {
    font-size: 15px !important;
    margin-top: 5px !important;
}

.btn-check:focus + .btn-primary-c,
.btn-primary-c:focus {
    color: #fff;
    background-color: #19387d;
    /*border-color: #5b63c4;*/
    /*-webkit-box-shadow: 0 0 0 0.2rem rgba(135, 144, 247, 0.5);*/
    /*box-shadow: 0 0 0 0.2rem rgba(135, 144, 247, 0.5);*/
}

.btn-check:checked + .btn-primary-c,
.btn-check:active + .btn-primary-c,
.btn-primary-c:active,
.btn-primary-c.active,
.show > .btn-primary-c.dropdown-toggle {
    color: #fff;
    background-color: #19387d;
    /*border-color: #565db8;*/
}


.btn-primary-c:disabled,
.btn-primary-c.disabled {
    color: #fff;
    background-color: #19387d;
    /*border-color: #295ed1;*/
}


.btn-outline-secondary-c {
    color: #616161;
    border-color: #616161;
}

.btn-outline-secondary-c:hover {
    color: #fff;
    background-color: #616161;
    border-color: #616161;
}

.btn-check:focus + .btn-outline-secondary-c,
.btn-outline-secondary-c:focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.5);
    box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.5);
}

.btn-check:checked + .btn-outline-secondary-c,
.btn-check:active + .btn-outline-secondary-c,
.btn-outline-secondary-c:active,
.btn-outline-secondary-c.active,
.btn-outline-secondary-c.dropdown-toggle.show {
    color: #fff;
    background-color: #616161;
    border-color: #616161;
}

.btn-check:checked + .btn-outline-secondary-c:focus,
.btn-check:active + .btn-outline-secondary-c:focus,
.btn-outline-secondary-c:active:focus,
.btn-outline-secondary-c.active:focus,
.btn-outline-secondary-c.dropdown-toggle.show:focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.5);
    box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.5);
}

.btn-outline-secondary-c:disabled,
.btn-outline-secondary-c.disabled {
    color: #616161;
    background-color: transparent;
}


.btn-outline-primary-c {
    color: var(--ed-item-primary);
    border-color: var(--ed-item-primary);
}

.btn-outline-primary-c:hover {
    color: #fff;
    background-color: var(--ed-item-primary);
    border-color: var(--ed-item-primary);
}

.btn-check:focus + .btn-outline-primary-c,
.btn-outline-primary-c:focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.5);
    box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.5);
}

.btn-check:checked + .btn-outline-primary-c,
.btn-check:active + .btn-outline-primary-c,
.btn-outline-primary-c:active,
.btn-outline-primary-c.active,
.btn-outline-primary-c.dropdown-toggle.show {
    color: #fff;
    background-color: var(--ed-item-primary);
    border-color: var(--ed-item-primary);
}

.btn-check:checked + .btn-outline-primary-c:focus,
.btn-check:active + .btn-outline-primary-c:focus,
.btn-outline-primary-c:active:focus,
.btn-outline-primary-c.active:focus,
.btn-outline-primary-c.dropdown-toggle.show:focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.5);
    box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.5);
}

.btn-outline-primary-c:disabled,
.btn-outline-primary-c.disabled {
    color: var(--ed-item-primary);
    background-color: transparent;
}

.bgf6 {
    background: #f6f6f6;
}

.fs-7 {
    font-size: 0.85rem;
}

.hoverAdd:hover {
    background: white;
    border-radius: 5px;
    color: black;
    border: 1px solid black;
}

.hoverAdd {
    cursor: pointer;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
}

.h_item {
    height: 36px;
}

ul {
    list-style: none;
    padding: 0;
}

.h_item:hover .child {
    display: block !important;
}

.child {
    display: none !important;
}

.hoverF2:hover {
    border-radius: 5px;
    background: #F2F2F2;
}

.hoverF2:hover .child{
    display: block !important;
}


.cl_39 {
    color: #393939;
}

.bt_orange {
    cursor: pointer;
    height: 38px;
    padding: 8px 24px;
    border-radius: 8px;
    border: 1px #FFB400 solid;
    justify-content: center;
    align-items: center;
    gap: 10px;
    display: inline-flex;
    color: #FFB400;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.64px;
    word-wrap: break-word
}

.cms_left_items {
    color: #393939;
    font-size: 16px;
    font-weight: 700;
}

.t_39_normal {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.64px;
    color: #393939;
}

.t_39_16 {
    font-size: 16px;
    letter-spacing: 0.64px;
    color: #393939;
}


.t_39_title {
    color: #393939;
    font-size: 24px;
    font-weight: 700;
}

.c_card {
    border-radius: 10px;
    background: #FFF;
    padding: 24px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.08);
}

.cursor_it {
    cursor: pointer;
}

.c_39_checkbox {
    width: 16px;
    height: 16px;
    position: relative;
    border-radius: 20px;
    border: 1px #DDDDDD solid;
}

.bt_c39 {
    border-radius: 10px;
    background: #393939;
    display: flex;
    padding: 10px 24px;
    justify-content: center;
    align-items: center;
    color: #FFF;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    min-width: 120px;
}

.bt_c39_w {
    border-radius: 10px;
    background: #FFF;
    display: flex;
    padding: 10px 24px;
    justify-content: center;
    align-items: center;
    color: #393939;
    font-size: 16px;
    font-weight: 700;
    border: 1px solid #393939;
    min-width: 120px;
    cursor: pointer;
}

.bt_ffb40 {
    border-radius: 12px;
    background: linear-gradient(143deg, #FFB400 -22.7%, #FF6C02 114.57%);
    display: flex;
    padding: 10px 22px 10px 23px;
    justify-content: center;
    align-items: center;
    color: #FFF;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
}

.bg_orange{
    background: linear-gradient(143deg, #FFB400 -22.7%, #FF6C02 114.57%)
}

.hoverPlace:hover {
    opacity: 1 !important;
    display: flex;
}

.form-switch .form-check-input:checked {
    background-color: #393939 !important;
    box-shadow: 0 0.5rem 1.125rem -0.5rem #393939c5;
}

.form-switch .form-check-input-success:checked {
    background-color: #159240 !important;
    box-shadow: 0 0.5rem 1.125rem -0.5rem #393939c5;
}

.bt_border_editor {
    color: #393939;
    font-size: 16px;
    font-weight: 400;
    word-wrap: break-word;
    width: 100%;
    height: 44px;
    padding: 10px;
    background: white;
    border-radius: 7px;
    border: 1px #DDDDDD solid;
    justify-content: center;
    align-items: center;
    gap: 10px;
    display: inline-flex;
    cursor: pointer;
}
.bt_3366BB_no_line{
    color: #3366BB;
    font-weight: 500;
    height: 44px;
    cursor: pointer;
}

.btn-gary {
    display: flex;
    padding: 6px 18px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border: 0;
    border-radius: 10px;
    background: #EAEAEA;
}


.btn-gary:hover {
    background: #D0D0D0;
}

.bgw-input {
    width: 100%;
    margin-top:8px;
    display: flex;
    padding: 9px 12px;
    align-items: center;
    border-radius: 10px;
    border: 1px solid #DDD;
    background-color: #fff
}

.bgw-input-readonly{
    background-color: #f3f6ff;
}


.bgw-input-readonly:focus-visible {
    outline: 0
}

.update-bar-container {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 14px 16px;
    background: #FFF;
    box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.15);
    gap:10px;
    left: 0;
    bottom: 0;
    width: 100%;
}

.gray-bottom-line-18 {
    border-bottom: 1px solid #e2e5f1;
    padding-bottom: 18px
}