.fr-fil {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

.price_text {
    color: #FF5353FF;
}

.pd_detail_content iframe {
    max-width: 100%;
}

.pd_detail_content img {
    max-width: 100%;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper {
    width: 100%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
}

.swiper-slide {
    background-size: cover;
    background-position: center;
}

.mySwiper2 {
    height: 80%;
    width: 100%;
}

.mySwiper {
    height: 20%;
    box-sizing: border-box;
    padding: 10px 0;
}

.mySwiper .swiper-slide {
    width: 25%;
    height: 100%;
    opacity: 0.4;
}

.mySwiper .swiper-slide-thumb-active {
    opacity: 1;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.insignia {
    border-radius: 0.5rem;
    padding: 6px 8px;
    font-size: 0.875rem;
    display: inline-block;
    font-weight: 500;
    line-height: 1.5;
    text-align: center;
    white-space: normal;
    vertical-align: baseline;
}

.insignia-gray {
    background: #dddddd;
    color: #393939;
}

